body {
    height: 100vh;
}

.div1 {
    width: 300px;
    height: 300px;
    animation: widthgrow 6s infinite alternate-reverse;
}



.div1:hover {
    animation-duration: 2s;
}

@keyframes widthgrow {
    from {width: 200px; height: 200px;}
    to {width: 400px; height: 400px;}
}