@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: PT Sans
}

h1{
    color:black;
    font-weight: bold;
}

.header{
    background-color: black;
    height: 20px
}

div div{
    padding: 10px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center
}



.mobile{
    height: 70px;
    width: 150px
}



.menu{
    background-color: rgb(230, 51, 51);
    height: 20px
}

.hero{
    height: 80px;
    background-color: rgb(84, 165, 252);
}

.white{
    color: white
}

.main{
    height: 75px;
    background-color: #040946
}

.banner{
    background-color: rgb(254, 225, 8);
    height: 65px
}

.extra{
    background-color: rgb(54, 166, 102);
}


.image{
    background-color: aqua;
}