@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-family: PT Sans
}



h1{
    color:black;
    font-weight: bold;
}

.tablet{
    height: 70px;
    width: 714px
}

div div{
    
    display: flex;
    justify-content: center;
    align-items: center
}

.grid-parent{
    display: grid;
    grid-template-columns: 185px 296px 149px;
    grid-template-rows: 64px 209px 89px 90px
}

.white{
    color: white
}

.items{
    height: 100%;
    width: 100%
}

.header{
    grid-column: span 3
}

.hero{
    grid-column: span 3
}

.menu{
    grid-row: span 4;
}

.extra{
    grid-row: span 2;
    
}

.main{
    grid-column: 2 / span 2
}

.banner{
    grid-column: 2 / span 2
}

