header {
    background-color: green;
    border-radius: 40px;
    padding: 20px
}

#image1 {
    margin-left: 10%;
    background-color: green;
    display: inline
}

body {
    background-color: #e2b581;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

ul, li {
    display: inline;
    margin-left: 30px;
    list-style: none;
    background-color: green;
    font-size: 20px;
    color: black;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    background-color: green;
    color: black;
    font-size: 30px
}

a:hover {
    text-decoration: underline solid rgb(22, 148, 232);
    color: rgb(22, 148, 232)
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #305905;
    text-align: center
}

p {
    text-align: center;
    color: #305905;
    font-size: 30px
}